
body {
  font-size: 16px;
  color: #000000;
  background-color: #009999;
  font-family: 'Oxygen', sans-serif;
}

#i1,#i2,#i3 {
 width:100%;
 text-align: center;"
 color: #000000; /* 557c3e; */
}

#my-dropdown-menu {
	background-color: #8A8AFF;
}

.menu-box-lg {
	background:#EEDFA6;
	height:1100px;
}